*{
	padding: 0;
	margin: 0 auto;
	box-sizing:border-box;
}
body{
	font: 0.14rem/1.5 "Myriad Set Pro","Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif,'Microsoft Yahei',Simsun;
	color:#333;
	box-sizing:border-box;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
	color:#333;
}
img{
	border:none;
}
.useless{
	width: 100%;
	height: 0.6rem;
}
.heng{
	width: 100%;
	height: 0.12rem;
	background:#efefef;
}
.contain{
	width: 3.2rem;
	position: relative;	
}
.top1{
	width: 100%;
	height: 0.55rem;
}
.header{
	z-index: 9999;
	width: 3.2rem;
	margin: 0 auto;
	height: 0.55rem;
	display: flex;
	align-items:center;
	position: fixed;
	left: auto;
	top: 0;	
	background: #f9fafd;
	border-bottom:1px solid #e0e0e0;
}
.people{
	background: url(../img/tiaoer.png) repeat-x left top,url(../img/tiaoer.png) repeat-x left bottom;
	background-size: auto .03rem;
}
tr{
	width: 100%;
	height: 0.32rem;
}
td{
	display: table-cell;
}
tr>td:first-child{
	padding-left: 0.1rem;
	width: 0.7rem;
}
tr>td:nth-of-type(2){
	padding-left: 0.1rem;
	width: 1.8rem;
}
tr>td:last-child{
	padding-left: 0.1rem;
	width: 0.7rem;
}
.spa{
	background: url(../img/gt.png) no-repeat 0.4rem center;
	background-size: 0.26rem 0.12rem;
}
.sone:before{
	content: '';
    display: inline-block;
    width: .05rem;
    height: .14rem;
    vertical-align: -.01rem;
    border-radius: .02rem;
    margin-right: .05rem;
    background-color: #ffd600;
}
.stwo{
	position: absolute;
	text-align: center;
	right: 0.2rem;
	top: 0.06rem;
	height: .3rem;
	width: .86rem;
	border:1px solid #ff3800;
	border-radius: .2rem;
	font-size: .12rem;
	color: #ff3800;
}
.shan1{
	padding-left: 0.2rem;
	padding-top: 0.06rem;
	height: 0.4rem;
	line-height: 0.3rem;
	position: relative;
}
.sone{
	font-size: .14rem;
	color: #999;
}
.shan1+p{
	font-size: .12rem;
	color: #999;
	height: .24rem;
	line-height: .24rem;
	text-align: center;
	border-bottom:1px solid #e0e0e0;
}
.shan2{
	width: 100%;
	padding:0 .15rem ;
	height: .6rem;
	line-height: .6rem;
	border-bottom:1px solid #e0e0e0;
}
.shan2>span:last-child{
	float: right;
	width: .6rem;
	background: url(../img/gt.png) no-repeat right center;
	background-position: .45rem center;
	background-size: .26rem;
}
b{
	color: #ff3800;
	font-weight: 100;
}
.shan3{
	width: 100%;
	height: .62rem;
	line-height: .62rem;
	padding-left: .15rem;
	border-bottom:1px solid #e0e0e0;
}
input{
	width: 2.1rem;
	height: .4rem;
	border-radius: .06rem;
	outline: none;
	border:1px solid #e0e0e0;
	margin-left: .26rem;
	font-size: .14rem;
	text-indent: .05rem;
}
.tab1{
	width: 100%;
}
.tr_tab{
	display: inline-block;
	width: 100%;
	height: .96rem;
	border-bottom:1px solid #e0e0e0;
	position: relative;
}
.tr_tab>td:first-child{
	width: .6rem;
	height: .96rem;
	background:url(../img/circle.png) no-repeat center center;
	background-size: .22rem;
}
.tr_tab>td:nth-of-type(2){
	height: .96rem;
	width: .6rem;
	background:url(../img/s1.jpg) no-repeat center center;
	background-size: 100%;
}
.tr_tab>td:last-child{
	width: 2rem;
	height: 100%;
}
.ch>div:first-child{
	height: .48rem;
	width: 100%;
}
.ch>div:last-child{
	height: .33rem;
	width: 1.1rem;
	position: absolute;
	right: .1rem;
	bottom: .1rem;
	display: flex;
}
.jian1+span{
	text-align: center;
	display: inline-block;
	width: .33rem;
	height: .33rem;
	line-height: .33rem;
}
.jian1{
	display: inline-block;
	width: .33rem;
	height: .33rem;
	border:1px solid #ff4300;
	border-radius: 50%;
	background: #ff4300 url(../img/shi.png) no-repeat center center;
	background-size: .8rem;
	background-position: -.05rem -.04rem;
}
.jia1{
	display: inline-block;
	width: .33rem;
	height: .33rem;
	border:1px solid #ff4300;
	border-radius: 50%;
	background: #ff4300 url(../img/shi.png) no-repeat center center;
	background-size: .8rem;
	background-position: -.44rem -.04rem;
}
.footer{
	z-index: 9999;
	position: fixed;
	left: auto;
	bottom: 0;
	width: 3.2rem;
	margin: 0 auto;
	height: 0.6rem;
	background-color: rgba(246,246,246,.95);
}
.ulid1{
	display: flex;
}
.ulid1>li{
	width: 25%;
	height: 0.6rem;
	text-align: center;
	padding-top: 0.38rem;
	font-size: 0.12rem;
	
}
.ulid1>li>a{
	color:#777;
}
.ulid1>li:first-child{
	background: url(../img/b1.png) no-repeat center 0.07rem;
	background-size: 0.24rem;
}
.ulid1>li:nth-of-type(2){
	background: url(../img/b2.png) no-repeat center 0.07rem;
	background-size: 0.24rem;
}
.ulid1>li:nth-of-type(3){
	background: url(../img/b3-1.png) no-repeat center 0.07rem;
	background-size: 0.24rem;
}
.ulid1>li:nth-of-type(4){
	background: url(../img/b4.png) no-repeat center 0.07rem;
	background-size: 0.24rem;
}