/**{
	padding: 0;
	margin: 0 auto;
	box-sizing:border-box;
}
body{
	font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif,'Microsoft Yahei',Simsun;
	font-size: 0.16rem;
	color:#333;
	box-sizing:border-box;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
	color:#333;
}
img{
	border:none;
}*/
.useless{
	width: 100%;
	height: 0.6rem;
}
.allcontainer{
	width: 3.2rem;
	position: relative;	
}
.header{
	z-index: 9999;
	width: 3.2rem;
	margin: 0 auto;
	height: 0.55rem;
	display: flex;
	left: auto;
	top: 0;
	position: fixed;
	background: #ffd600;
}
.hleft{
	width: 0.4rem;
	flex:0 0 auto;
}
.hright{
	text-align: center;
	width:0.4rem;
	background: url(../img/a1.png) no-repeat center 0.09rem;
	background-size: 0.24rem;
	height: 0.55rem;
	line-height: 0.88rem;	
	font-size: 0.12rem;
	margin-right: 0.02rem;
	flex:0 0 auto;
}
.position{
	width: 100%;
	height: 0.55rem;
	line-height: 0.55rem;
	font-size: 0.14rem;
	font-weight: 700;
	text-align: center;
	flex:1 1 auto;
}
.pn:after {
    content: '▼';
    font-size: 0.12rem;
}
/*.footer{
	z-index: 9999;
	position: fixed;
	left: auto;
	bottom: 0;
	width: 3.2rem;
	margin: 0 auto;
	height: 0.6rem;
	background-color: rgba(246,246,246,.95);
}
.ulid1{
	display: flex;
}
.ulid1>li{
	width: 25%;
	height: 0.6rem;
	text-align: center;
	padding-top: 0.38rem;
	font-size: 0.12rem;
	
}
.ulid1>li>a{
	color:#777;
}
.ulid1>li:first-child{
	background: url(../img/b1.png) no-repeat center 0.07rem;
	background-size: 0.24rem;
}
.ulid1>li:nth-of-type(2){
	background: url(../img/b2-1.png) no-repeat center 0.07rem;
	background-size: 0.24rem;
}
.ulid1>li:nth-of-type(3){
	background: url(../img/b3.png) no-repeat center 0.07rem;
	background-size: 0.24rem;
}
.ulid1>li:nth-of-type(4){
	background: url(../img/b4.png) no-repeat center 0.07rem;
	background-size: 0.24rem;
}*/
.left{
	position: fixed;
	left: auto;
	top: 0;
	width: 0.76rem;
	height: 100%;
}
.left-ul{
	width: 100%;
	height: 7rem;
	margin-top: 0.55rem;
	overflow: scroll;
	background-color: #f8f8f8;
	color: #6d6d6d;
	text-align: center;
	font-size: 0.12rem;
}
.left-ul>li{
	width: 100%;
	height: 0.49rem;
	line-height: 0.49rem;
	border-bottom: 1px solid #e0e0e0;
}
.left-ul>li:nth-of-type(2){
	background: url(../img/hot.jpg) no-repeat top right;
	background-size: .32rem;
}
.headbo{
	width: 2.4rem;
	height: 0.49rem;
	border-bottom: 1px solid #e0e0e0;
	position: fixed;
	right: 0;
	top: 0.55rem;
	background: white;
}
.head-b{
	display: flex;
	align-items:center;
	height: 100%;
}
.head-b>li{
	text-align: center;
	width: 50%;
	line-height: 0.2rem;
	margin: auto;
	background:url(../img/xia.png) no-repeat 90% center;
	background-size: 0.12rem;
}
.head-b>li:first-child{
	border-right:1px solid #e0e0e0;
}
.main{
	width: 2.4rem;
	height: 4.62rem;
	position: absolute;
	right: 0;
	top: .49rem;
	z-index: -1;
	overflow: hidden;
	overflow: scroll;
}
.main-ul{
	width: 100%;
	height: 11.98rem;
}
.mian-li1{
	height: 1.09rem;
	padding: 0.06rem;
	border-bottom: 1px solid #e0e0e0;
	display:flex;
	position: relative;
}
.list1{
	height: 0.96rem;
	width: 0.96rem;
}
.list12{
	height: 0.96rem;
	width: 1.32rem;
	padding-left: 0.1rem;
}
.list1{
	width: 0.96rem;
	height: 0.96rem;
	background: url(../img/s22.jpg) no-repeat center center;
	background-size: 0.96rem;
}
.list2{
	width: 0.96rem;
	height: 0.96rem;
	background: url(../img/s22.jpg) no-repeat center center;
	background-size: 0.96rem;
}
.list3{
	width: 0.96rem;
	height: 0.96rem;
	background: url(../img/s22.jpg) no-repeat center center;
	background-size: 0.96rem;
}
.list4{
	width: 0.96rem;
	height: 0.96rem;
	background: url(../img/s22.jpg) no-repeat center center;
	background-size: 0.96rem;
}
.list5{
	width: 0.96rem;
	height: 0.96rem;
	background: url(../img/s22.jpg) no-repeat center center;
	background-size: 0.96rem;
}
.list6{
	width: 0.96rem;
	height: 0.96rem;
	background: url(../img/s22.jpg) no-repeat center center;
	background-size: 0.96rem;
}
.list7{
	width: 0.96rem;
	height: 0.96rem;
	background: url(../img/s22.jpg) no-repeat center center;
	background-size: 0.96rem;
}
.list8{
	width: 0.96rem;
	height: 0.96rem;
	background: url(../img/s22.jpg) no-repeat center center;
	background-size: 0.96rem;
}
.list9{
	width: 0.96rem;
	height: 0.96rem;
	background: url(../img/s22.jpg) no-repeat center center;
	background-size: 0.96rem;
}
.list10{
	width: 0.96rem;
	height: 0.96rem;
	background: url(../img/s22.jpg) no-repeat center center;
	background-size: 0.96rem;
}
.list12>p{
	line-height: .24rem;
	height: .24rem;
	font-size: 0.12rem;
}
.list12>p:nth-of-type(3){
	color:#999;
}
.list12>p:nth-of-type(4){
	color:red;
}
.send-b{
	font-weight: 100;
	text-decoration: line-through;
	color:#999;
}
.list12>p:nth-of-type(2){
	width: 0.35rem;
	height: 0.22rem;
	line-height: 0.2rem;
	border:1px solid red;
	border-radius: 0.05rem;
	padding-left: 0.04rem;
	margin-left: 0;
	color:red;
}
.jia{
	position: absolute;
	right: 0.1rem;
	bottom:0.1rem;
	display: inline-block;
	border:1px solid #e0e0e0;
	width: 0.36rem;
	height: 0.36rem;
	border-radius: 50%;
	background:red url(../img/shi.png) no-repeat right center;
	background-size: 200% 100%;
}